/.vscode
/.idea
__pycache__
*.pyc
/.venv
/venv
/output
/dist
/build/lib
.pytest_cache
.coverage
pyspark_output
pyspark_config.json
generate_fake_data.py
scratchpad.py
*.egg-info
.metals
.ipynb_checkpoints
notebook.ipynb
test_data/generated.csv
test_data/generated.csv.zip
e2e/output
# Mac
.DS_Store
